
.leaflet-control-coordinates
  background-color #eeeeee
  cursor pointer
  color #000000
  border 1px solid #bbbbbb

.leaflet-control-coordinates,
.leaflet-control-coordinates .uiElement input
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px
  margin 0 5px 0 5px


.leaflet-control-coordinates .uiElement
  margin 4px


.leaflet-control-coordinates .uiElement .labelFirst
  margin-right 4px


.leaflet-control-coordinates .uiHidden
  display none

.coordinate-label
  color #000000
